/* Basic styling for the entire application */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header styling */
.App-header {
  background-color: #7c94e0;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Styling for URL list */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

/* Link styling */
.Shortened-Url {
  color: #61dafb;
  text-decoration: none;
}

.Shortened-Url:hover {
  color: #21a1f1; /* Slightly darker blue for hover effect */
}

/* Form styling */
form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

/* Delete button styling */
button.delete {
  background-color: #ff4d4d;
  margin-left: 10px;
}

button.delete:hover {
  background-color: #ff1a1a;
}

/* QR Code styling */
.QR-Code {
  margin: 20px 0;
}
